@import url('https://jumia-app-vision.web.app/featurebox/featurebox-mobile-min.css');

*,*::before,*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  scroll-behavior: smooth;
  /* transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

:root {
  --bg-color: #f5f5f5;
  --font-color: #282828;
  --campaign-color: #EF292A;
  --barred-price: #75757a;
  --jumia-cta: #f68b1e;
  --discount-bg: #feefde;
  --tabs-bg: #fdfdfd;
}

body {
  background-color: var(--bg-color);
}

.main_header--search_box { display: none !important; }

#feature-box {
  display: none;
}

#banner-placement-top {
  text-align: center;
}

#banner-placement-top {
  height: 60px !important;
}

.-localhost .-container {
  font-size: 0.85em;
}

#initiative.-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--font-color);
}


.-hide {
  display: none !important;
}

#initiative .-title {
  font-weight: 600;
  text-align: center;
  padding: 4px 0px;
}

#initiative.-container a:not(.-product):not(.-freelink) {
  color: var(--font-color);
  vertical-align: baseline;
  text-decoration: unset;
}

.-row {
  margin: 8px 0;
}

#initiative .-banner {
  background-color: white;
  overflow: hidden;
  margin-top: unset !important;
  padding: 8px;
  border-radius: 4px;
}


#initiative .-banner .-how-it-works {
  background-color: var(--font-color);
  color: white;
  bottom: 8px;
  right: 8px;
  padding: 4px 8px;
  font-weight: 500;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  z-index: 3;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  transform: scale(1);
  transform-origin: bottom right; 
}

#initiative .-banner.-show .-how-it-works {
  background-color: var(--jumia-cta);
  color: white;
  z-index: 4;
}

#initiative .-banner .-how-it-works .-txt {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

#initiative .-banner .-img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 121px;
}
#initiative .-banner img {
  border-radius: 4px;
}

#initiative .-banner:hover img {
  transform: scale(1);
}

#initiative .-row img {
  width: 100%;
  max-width: 1170px;
}

.-posrel { position: relative; }

.-posabs { position: absolute; }

.-possti { position: sticky; }

.-inlineblock { display: inline-block; }

.-vamiddle { vertical-align: middle; }

.-vabaseline { vertical-align: baseline; }

.-vatop { vertical-align: top; }


.-control {
  width: 40px;
  height: 40px;
  background-color: rgba(40,40,40,0.5);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%) scale(1);
  left: 9px;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
  overflow: hidden;
}


.-control:hover {
  background-color: var(--barred-price);
}

.-control:active {
  transform: translateY(-50%) scale(0.96);
}

.-control.-next {
  left: unset;
  right: 9px;
}

.-control::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid white;
  border-left: unset;
  border-bottom: unset;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.-control.-prev::before {
  transform: translate(-50%,-50%) rotate(-135deg);
}

/* category freelinks */

.-cats {
  overflow-x: auto;
}

.-scrollable {
  display: grid;
  grid-template-columns: repeat(10,120px);
  grid-template-rows: repeat(2,1fr);
  grid-auto-rows: minmax(120px,auto);
  grid-gap: 8px;
  margin: 8px 0;
  cursor: pointer;
}

.-scrollable .-cat {
  box-shadow: var(--box-shadow);
  font-size: 0.8em;
  transform: scale(1);
}

.-scrollable .-cat:active {
  transform: scale(0.98);
}

.-scrollable .-cat .-clickable {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2
}

.-scrollable .-cat .-name {
  height: 24px;
  width: 100%;
  bottom: 32px;
}

.-scrollable .-cat .-name .-txt,
.-scrollable .-cat .-name .-bg {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.-scrollable .-cat .-name .-txt {
  white-space: nowrap;
  z-index: 1;
  font-weight: bolder;
  color: white;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.-scrollable .-cat .-name .-bg {
  height: 100%;
  width: 90%;
  transform: translate(-50%,-50%) skewX(-10deg);
  background-color: #ff0000aa;
}

.-scrollable .-cat .-price-point {
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: 600;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.-scrollable .-cat img {
  width: 100%;
}

/* product floors */

.-superblock .-productfloor {

}

.-superblock .-productfloor .-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: unset;
}
.-superblock .-productfloor .-head .-title {
  text-transform: capitalize;
  box-shadow: unset;
  margin: unset;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: unset !important;
}

.-superblock .-productfloor .-head .-title .-title-desc {
  font-weight: 500;
  font-size: 0.8em;
}

.-superblock .-productfloor .-head .-see-all {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2px;
  height: 100%;
  position: relative;
}

.-superblock .-productfloor .-head .-see-all .-see-all-clickable {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  cursor: pointer;
}
.-superblock .-productfloor .-head .-see-all .-txt { 
  text-transform: uppercase;
  font-weight: 500;
  align-items: center;
  column-gap: 4px;
  font-size: 14px; 
}

.-superblock .-productfloor .-head .-see-all .-arrow {
  content: '';
  width: 6px;
  height: 6px;
  border-left: unset !important;
  border-bottom: unset !important;
  background-color: transparent;
  transform: rotate(45deg);
}

.-superblock .-productfloor .-skus {
  overflow-x: auto;
  background-color: white;
  padding: 8px 0;
  white-space: nowrap;
}

.-superblock .-productfloor.active .-skus.-actual,
.-superblock .-productfloor .-skus.-skeleton {
  display: block !important;
}
.-superblock .-productfloor.active .-skus.-skeleton,
.-superblock .-productfloor .-skus.-actual  {
  display: none !important;
}


.-superblock .-productfloor .-skus .-sku {
  display: inline-block;
  vertical-align: top !important;
  width: calc(100% / 3.5);
  margin: 0 8px;
}

.-superblock .-productfloor .-skus .-sku:hover {
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 12%);
}


.-superblock .-productfloor .-skus .-sku .-img {
  height: 33vw;
  max-height: 160px;
}

.-superblock .-productfloor .-skus .-sku img {
  height: 100%;
}


.-superblock .-productfloor .-skus .-sku .-discount {
  top: 8px;
  right: 8px;
  color: var(--jumia-cta);
  background-color: var(--discount-bg);
  padding: 4px;
  border-radius: 4px;
  font-weight: bold;
}

.-superblock .-productfloor .-skus .-sku .-details {
  padding: 8px;
}


.-superblock .-productfloor .-skus .-sku .-details .-name {
  white-space: initial;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.-superblock .-productfloor .-skus .-sku .-details .-newPrice {
  font-weight: 500;
}

.-superblock .-productfloor .-skus .-sku .-details .-oldPrice {
  text-decoration: line-through;
  font-size: .75rem;
  font-weight: 400;
}

/* rules & eligibility */

.-rules_eligibility {
  font-size: .9em;
  background-color: var(--font-color);
  top: 0;
  padding: 16px 0;
  width: 35%;
  left: 105%;
  transform: translateX(0%);
  height: 100%;
  z-index: 1;
  border: 8px solid white;
}
#initiative .-banner.-show .-rules_eligibility {
  transform: translateX(-100%);
  left: 100%;
  z-index: 3;
  width: 100%;
}

.-rules_eligibility .-title {
  position: absolute;
  padding: unset !important;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.-rules_eligibility .-re {
  height: 100%;
  overflow: auto;
  padding: 0 16px;
  margin-left: -1px;
  color: white;
}

.-rules_eligibility .-re .-rule_element {
  display: flex;
  column-gap: 4px;
}


.-rules_eligibility .-re .-rule_element .-question {
  font-weight: 600;
  margin-bottom: 4px;
}

.-rules_eligibility .-re .-rule_element,
.-rules_eligibility .-re .-eligibility_element {
  margin: 15px 0;
}

.-rules_eligibility .-re .-num {
  width: 5%;
  font-weight: 500;
}

.-rules_eligibility .-re .-desc {
  width: 90%;
  letter-spacing: 0.5px;
}

